/* line 1, source/scss/chassis/_textures.scss */
.texture-wood {
  background: transparent url(http://subtlepatterns.com/patterns/wood_pattern.png) top left repeat; }

/* line 4, source/scss/chassis/_textures.scss */
.texture-smallmosaic {
  background: transparent url(http://subtlepatterns.com/patterns/px_by_Gre3g.png) top left repeat; }

/* line 7, source/scss/chassis/_textures.scss */
.texture-graph {
  background: transparent url(http://subtlepatterns.com/patterns/graphy.png) top left repeat; }

/* line 10, source/scss/chassis/_textures.scss */
.texture-ricepaper {
  background: transparent url(http://subtlepatterns.com/patterns/ricepaper.png) top left repeat; }

/* line 13, source/scss/chassis/_textures.scss */
.texture-diagmonds {
  background: transparent url(http://subtlepatterns.com/patterns/diagmonds.png) top left repeat; }

/* line 16, source/scss/chassis/_textures.scss */
.texture-zigzag {
  background: transparent url(http://subtlepatterns.com/patterns/zigzag.png) top left repeat; }

/* line 20, source/scss/chassis/_textures.scss */
.texture-darkwood {
  background: transparent url(http://subtlepatterns.com/patterns/dark_wood.png) top left repeat; }

/* line 23, source/scss/chassis/_textures.scss */
.texture-roughcloth {
  background: transparent url(http://subtlepatterns.com/patterns/roughcloth.png) top left repeat; }

/* line 26, source/scss/chassis/_textures.scss */
.texture-dotnoise {
  background: transparent url(http://subtlepatterns.com/patterns/bgnoise_lg.png) top left repeat; }

/* line 29, source/scss/chassis/_textures.scss */
.texture-woven {
  background: transparent url(http://subtlepatterns.com/patterns/woven.png) top left repeat; }

/* line 32, source/scss/chassis/_textures.scss */
.texture-carbonfibre {
  background: transparent url(http://subtlepatterns.com/patterns/real_cf.png) top left repeat; }

/* line 35, source/scss/chassis/_textures.scss */
.texture-type {
  background: transparent url(http://subtlepatterns.com/patterns/type.png) top left repeat; }

/* line 38, source/scss/chassis/_textures.scss */
.texture-linedpaper {
  background: transparent url(http://subtlepatterns.com/patterns/lined_paper.png) top left repeat; }

/* line 41, source/scss/chassis/_textures.scss */
.texture-crosses {
  background: transparent url(http://subtlepatterns.com/patterns/crosses.png) top left repeat; }

/* line 44, source/scss/chassis/_textures.scss */
.texture-blacklinen {
  background: transparent url(http://subtlepatterns.com/patterns/black_linen_v2.png) top left repeat; }

/* line 47, source/scss/chassis/_textures.scss */
.texture-brightsquares {
  background: transparent url(http://subtlepatterns.com/patterns/bright_squares.png) top left repeat; }

/* line 50, source/scss/chassis/_textures.scss */
.texture-grungewall {
  background: transparent url(http://subtlepatterns.com/patterns/grunge_wall.png) top left repeat; }

/* line 53, source/scss/chassis/_textures.scss */
.texture-hanky {
  background: transparent url(http://subtlepatterns.com/patterns/vichy.png) top left repeat; }

/* line 56, source/scss/chassis/_textures.scss */
.texture-largemosaic {
  background-image: url(http://subtlepatterns.com/patterns/random_grey_variations.png) top left repeat; }

/* line 59, source/scss/chassis/_textures.scss */
.texture-doublelined {
  background: transparent url(http://subtlepatterns.com/patterns/double_lined.png) top left repeat; }

/* line 62, source/scss/chassis/_textures.scss */
.texture-pinstripe {
  background: transparent url(http://subtlepatterns.com/patterns/pinstripe.png) top left repeat; }

/* line 65, source/scss/chassis/_textures.scss */
.texture-leather {
  background: transparent url(http://subtlepatterns.com/patterns/leather_1.png) top left repeat; }

/* line 68, source/scss/chassis/_textures.scss */
.texture-dotgrill {
  background: transparent url(http://subtlepatterns.com/patterns/carbon_fibre.png) top left repeat; }

/* line 71, source/scss/chassis/_textures.scss */
.texture-dotgrillbig {
  background: transparent url(http://subtlepatterns.com/patterns/carbon_fibre_big.png) top left repeat; }

/* line 74, source/scss/chassis/_textures.scss */
.texture-microcarbon {
  background: transparent url(http://subtlepatterns.com/patterns/micro_carbon.png) top left repeat; }

/* line 77, source/scss/chassis/_textures.scss */
.texture-linen {
  background: transparent url(http://subtlepatterns.com/patterns/whitey.png) top left repeat; }
