!!! 5
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
/[if gt IE 8]><!
%html.no-js{:lang => "en"}
	/ <![endif]
	%head
		%meta{:charset => "utf-8"}/
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
		%title Chassis
		%meta{:content => "", :name => "description"}/
		%meta{:content => "", :name => "author"}/
		%meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
		%link{:rel => "stylesheet", :href => "css/style.css"}
		%script{:src => "js/libs/modernizr-2.0.6.min.js"}
	%body.clingwrap.texture-wood
		.topline
		%header
			.container
				%h1 Coby Chapple
				.buttons
					%a.twitter{:href => "http://twitter.com/cobychapple"}
						%span Follow me on Twitter
					%a.email{:href => "mailto:coby@cobychapple.com"}
						%span Send me an Email
		.page
			.page-title.section
				.subsection.c2
					%h2 Resumé
				.subsection.c2
					.buttons
						%a.pdf{:href => "resume.pdf"}
							%span Download PDF
			#overview.section
				.container
					.content
						%p Hi there. I’m an <strong>interface designer</strong> <span class="amp">&amp;</span> <strong>web developer</strong> based on the Gold Coast, Australia. I love working with switched-on people who recognise that <strong>quality design is the way forward</strong>.
			#skills.section
				.container
					.section-title
						%h3 Skills
					.clearfix
					.subsection.c1
						.content
							%h4 Proficiencies
							%ul.ticks
								%li HTML and CSS
								%li Ruby and PHP
								%li SQL and Javascript
								%li Command-line
					.subsection.c1
						.content
							%h4 Applications
							%ul.ticks
								%li Adobe Photoshop
								%li Adobe Illustrator
								%li Adobe InDesign
								%li Git, Mercurial, SVN
					.subsection.c1
						.content
							%h4 Platforms
							%ul.ticks
								%li Ruby on Rails
								%li MVC Frameworks
								%li Wordpress Sites
								%li E-Commerce
					.subsection.c1
						.content
							%h4 Environments
							%ul.ticks
								%li Mac OS X
								%li Linux &amp; Unix
								%li Windows Server
								%li Cloud Infrastructure
			#experience.section
				.container
					.section-title
						%h3 Experience
					.clearfix
					.items.section
						.item
							.summary
								%h5
									%strong UI Designer
									at Worry Free Labs
									%a{:href => "http://worryfreelabs.com/"} Visit Website &#9656;
								%p This position involved a wide variety of interesting work for a range of high-profile clients, mostly consisting of web-based startups based in the US, but also including clients from Europe, Asia, and Australia. This position required daily collaboration and communication with other team members and clients using online project management tools.
								.bullets
									.list
										%h6 Responsibilities
										%ul.ticks
											%li User Experience (UX) design
											%li Inteface design
											%li Front-end development
									.list
										%h6 &nbsp;
										%ul.ticks
											%li Client communication
											%li Supervising junior designers
											%li Managing client expectations
									.list
										%h6 Typical Projects
										%ul.ticks
											%li Web-based applications
											%li Mobile inferfaces (iOS)
											%li Website designs
							.details
								.date October 2011&ndash;Present
								.location Connecticut, USA
								.label Remote
						.item
							.summary
								%h5
									%strong Freelance
									Web Developer <span class='amp'>&amp;</span> UI Designer
									%a{:href => "http://cobychapple.com/hireme"} Visit Website &#9656;
								%p Working as a sole trader, Coby provides web application development and design services to a wide range of business clients including prior employers.
							.details
								.date June 2008&ndash;Present
								.location Gold Coast, Australia

						.item
							.summary
								%h5
									%strong Casual Analyst
									at Deloitte Touche Tohmatsu
									%a{:href => "http://deloitte.com.au/"} Visit Website &#9656;
								%p Working both on and off-site, Coby has worked on a range of Technology Assurance projects for high-profile clients. Coby has also been offered a graduate position with Deloitte Risk Services, Brisbane in 2012.
							.details
								.date Nov 2010&ndash;July 2011
								.location Brisbane, Australia

			#education.section
				.container
					.section-title
						%h3 Education
					.clearfix
					.items.section
						.item
							.summary
								%h5
									%strong Bachelor of IT (Network Security)
									at Deakin University
								%p Achieved a Grade Point Average (GPA) of <strong>6.9 out of a possible 7.0</strong> over all 22 completed subjects. The final two subjects are currently being undertaken.
							.details
								.date June 2012
								.location Melbourne, Australia
								.label Off-campus
						.item
							.summary
								%h5
									%strong Certificate IV in IT (Multimedia)
									at BLC
								%p Undertaken during the last two years of high-school in conjunction with work placement as a part-time IT Manager of a local business.
							.details
								.date 2005
								.location Brisbane, Australia


			%p &nbsp;
		.section
			.container
				.content
					%p &copy; Copyright 2011 Coby Chapple.
					%p Licensed under the <a href=" http://www.apache.org/licenses/LICENSE-2.0" title="Apache License Version 2.0">Apache License, Version 2.0</a>.
		%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
		%script{:src => "js/libs/jquery-1.6.2.min.js"}
		:javascript
			window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')		/ scripts concatenated and minified via ant build script
		%script{:defer => "", :src => "js/plugins.js"}
		%script{:defer => "", :src => "js/script.js"}
		:javascript
			window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
			Modernizr.load({
				load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
			});
