!!! 5
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
/[if gt IE 8]><!
%html.no-js{:lang => "en"}
	/ <![endif]
	%head
		%meta{:charset => "utf-8"}/
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
		%title Resumé &middot; Coby Chapple
		%meta{:content => "", :name => "description"}/
		%meta{:content => "", :name => "author"}/
		%meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
		%link{:href => "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}
		%link{:rel => "stylesheet", :href => "css/style.css"}
		%script{:src => "js/libs/modernizr-2.0.6.min.js"}
	%body.clingwrap.texture-wood
		.topline
		%header
			.container
				%h1 Coby Chapple
				.buttons
					%a.twitter{:href => "http://twitter.com/cobychapple"}
						%span Follow me on Twitter
					%a.email{:href => "mailto:coby@cobychapple.com"}
						%span Send me an Email
		.page
			.page-title.section
				.subsection.c2
					%h2 Resumé
				.subsection.c2
					.buttons
						%a.pdf{:href => "resume.pdf"}
							%span Download PDF
			#overview.section
				.container
					.content
						%p Hi there. I’m an <strong>interface designer</strong> <span class="amp">&amp;</span> <strong>web developer</strong> based on the Gold Coast, Australia. I love working with switched-on people who recognise that <strong>quality design is the way forward</strong>.
			#skills.section
				.container
					.section-title
						%h3 Skills
					.clearfix
					.subsection.c1
						.content
							%h4 Proficiencies
							%ul.ticks
								%li HTML and CSS
								%li Ruby and PHP
								%li SQL and Javascript
								%li Command-line
					.subsection.c1
						.content
							%h4 Applications
							%ul.ticks
								%li Adobe Photoshop
								%li Adobe Illustrator
								%li Adobe InDesign
								%li Git, Mercurial, SVN
					.subsection.c1
						.content
							%h4 Platforms
							%ul.ticks
								%li Ruby on Rails
								%li MVC Frameworks
								%li Wordpress Sites
								%li E-Commerce
					.subsection.c1
						.content
							%h4 Environments
							%ul.ticks
								%li Mac OS X
								%li Linux &amp; Unix
								%li Windows Server
								%li Cloud Infrastructure
			#experience.section
				.container
					.section-title
						%h3 Experience
					.clearfix
					.items.section
						.item
							.summary
								%h5
									%strong UI Designer
									at Worry Free Labs
									%a{:href => "http://worryfreelabs.com/"} Visit Website &#9656;
								%p This position involves a wide variety of interesting work for a range of high-profile clients, mostly consisting of web-based startups based in the US, but also including clients from Europe, Asia, and Australia. This position requires daily collaboration and communication with other team members and clients using online project management tools.
								.bullets
									.list
										%h6 Responsibilities
										%ul.ticks
											%li User Experience (UX) design
											%li Inteface design
											%li Front-end development
									.list
										%h6 &nbsp;
										%ul.ticks
											%li Client communication
											%li Supervising junior designers
											%li Managing client expectations
									.list
										%h6 Typical Projects
										%ul.ticks
											%li Web-based applications
											%li Mobile inferfaces (iOS)
											%li Website designs
							.details
								.date October 2011&ndash;Present
								.location Connecticut, USA
								.label Remote
						.item
							.summary
								%h5
									%strong Freelance
									Web Developer <span class='amp'>&amp;</span> UI Designer
									%a{:href => "http://cobychapple.com/hireme"} Visit Website &#9656;
								%p Working as a sole trader, Coby provides web application development and design services to a wide range of business clients including prior employers.
							.details
								.date August 2007&ndash;Present
								.location Gold Coast, Australia

						.item
							.summary
								%h5
									%strong Casual Analyst
									at Deloitte Touche Tohmatsu
									%a{:href => "http://deloitte.com.au/"} Visit Website &#9656;
								%p Working both on and off-site, Coby has worked on a range of Technology Assurance projects for high-profile clients. Coby has also been offered a graduate position with Deloitte Risk Services, Brisbane in 2012. Coby was also selected for a paid internship in the previous summer, during which he contributed to internal reporting capabilities, recommended additions to workpapers for penetration testing, and successfully automated aspects of a Short Term Trading Market gas distribution system application.
							.details
								.date November 2010&ndash;July 2011
								.location Brisbane, Australia

						.item
							.summary
								%h5
									%strong I.T. Manager
									at Wholesale Toners Australia
									%a{:href => "http://www.wholesaletoner.com"} Visit Website &#9656;
								%p Wholesale Toners are a national wholesaler, distributor, and retailer of generic printer consumables. Coby was responsible for the management of IT infrastructure, providing technical advice to management, technical training and support, point-of-sale systems integration, and e-commerce capabilities.
							.details
								.date January 2003&ndash;July 2008
								.location Gold Coast, Australia

			#education.section
				.container
					.section-title
						%h3 Education
					.clearfix
					.items.section
						.item
							.summary
								%h5
									%strong Bachelor of IT (Network Security)
									at Deakin University
								%p Achieved a Grade Point Average (GPA) of <strong>6.9 out of a possible 7.0</strong> over all 22 completed subjects. The final two subjects are currently being undertaken.
							.details
								.date June 2012
								.location Melbourne, Australia
								.label Off-campus
						.item
							.summary
								%h5
									%strong Certificate IV in IT (Multimedia)
									at BLC
								%p Undertaken during the last two years of high-school in conjunction with work placement as a part-time IT Manager of a local business.
							.details
								.date 2005
								.location Brisbane, Australia

			#testimonials.section
				.container
					.section-title
						%h3 Testimonials
					.clearfix
					.items.section
						.column.column1
							.item
								.quote
									&ldquo;Coby&rsquo;s talent shows in his finished work, but it&rsquo;s in his design process that his tenacity and thoughtfulness really shine. <strong>Quite simply, he&rsquo;s a joy to work with.</strong>&rdquo;
								.author
									%span.name Diana Kimball,
									%span.position Creator
									of the
									%span.company /Mentoring movement
							.item
								.quote
									&ldquo;Simply put: if all my staff were like Coby then <strong>I would never have to work again!</strong> Coby&rsquo;s work is always high quality—he has a good understanding of what his clients&rsquo; needs and wants are, and he delivers. Can&rsquo;t recommend him enough.&rdquo;
								.author
									%span.name Richard Zikmundovsky,
									%span.position Managing Director
									at
									%span.company Wholesale Toners Australia
							.item
								.quote
									&ldquo;When we engaged Coby to design a complete turnkey website (with very specific requirements), we found him to be extremely reliable and capable, with a complete understanding of the task at hand. His graphic design and programming capabilities <strong>far surpassed our expectations</strong>, and the speed of execution was exemplary.&rdquo;
								.author
									%span.name Clive Hendler,
									%span.company Switch Logistics
							.item
								.quote
									&ldquo;We&rsquo;ve worked with Coby many times, and have always found him extremely professional. His concepts are original, very effective, and <strong>always exceed our expectations.</strong>&rdquo;
								.author
									%span.name Allan <span class='amp'>&amp;</span> Holly Skinner,
									%span.position Directors
									of 
									%span.company Raw Connection West Coast Swing
							.item
								.quote
									&ldquo;Working as an independent consultant, Coby ensured a good balance between meeting our needs and keeping cost to a minimum. Thanks to the excellent way he handled the upgrade of our computer systems, the changeover was very smooth and down-time was minimal. <strong>Couldn&rsquo;t have done it without him!</strong>&rdquo;
								.author
									%span.name Sue Borg,
									%span.position Office Manager
									at
									%span.company Exhibitek
						.column
							.item
								.quote
									&ldquo;Coby not only produced a site that was exactly what I wanted with information directed towards a very specific target group, but he <strong>took the time to educate me throughout the process</strong> on web development and marketing strategies so that I could make educated decisions about my content. Coby is extremely professional and efficient and I would highly recommend him to anyone—from small business like myself to large corporations.&rdquo;
								.author
									%span.name Katie-jane Fairweather,
									%span.company Fair Child Therapy
							.item
								.quote
									&ldquo;We have employed Coby many times over the past few years, and he has contributed <strong>greatly to an increase in sales</strong>. His design makes it easy for our customers to shop online and register enquiries, and he attends to all our requests efficiently and in a friendly manner.&rdquo;
								.author
									%span.name Sam <span class='amp'>&amp;</span> Andrew McLeay,
									%span.company Con-Treat Pty Ltd
							.item
								.quote
									&ldquo;Thanks to Coby we can manage everything ourselves from content to mailing lists, and can see extensive, actionable reports. Coby also provided <strong>great support every step of the way.</strong>&rdquo;
								.author
									%span.name Orson Tormey,
									%span.position Director
									at
									%span.company Trio Technology
							.item
								.quote
									&ldquo;Coby&rsquo;s knowledge helped me to reach out to a vast amount of clients I previously didn&rsquo;t have access to. He&rsquo;s very creative, friendly and most of all he had the ability to <strong>turn my ideas into reality.</strong>&rdquo;
								.author
									%span.name Josh Bystrom,
									%span.company Bystrom Productions
							.item
								.quote
									&ldquo;Passion is embedded in Coby&rsquo;s design ideas and deliverables. He enabled us to deliver a project in a short timeframe with maximum design impact. <strong>Working with Coby was refreshing.</strong>&rdquo;
								.author
									%span.name Anthony Karos,
									%span.position Partner
									at
									%span.company WMS Chartered Accountants

			#other.section
				.container
					.section-title
						%h3 Other Interests
					.clearfix
					.section
						.subsection.c2
							.content
								%ul
									%li
										%span I have placed <a href="http://lestep.com.au/content/ls_standard.asp?name=Events_Competition" title="Search the results for 'Coby Chapple'">first</a> <em><a href="http://www.vmjc.com.au/index.php?option=com_content&amp;task=view&amp;id=41&amp;Itemid=42" title="Search the results for 'Coby Chapple'">eleven</a> <a href="http://webcache.googleusercontent.com/search?q=cache:CCO-1kb5qaYJ:www.ceroc.com.au/events/championships.php+ceroc.com.au:+coby+chapple&cd=1&hl=en&ct=clnk&gl=au&source=www.google.com.au" title="Search the results for 'Coby Chapple'">times</a></em> both nationally and overseas in a partner-dancing style called Modern Jive <a href="http://www.youtube.com/watch?v=j3uvr294fcQ" title="Watch Coby dance!">(watch me here)</a>. I also regularly <a href="http://www.ceroc.com.au/events/dancemania.php" title="Coby is a guest teacher at Dancemania in Sydney for the fourth year in a row">teach</a> <a href="http://www.cerocaustralia.com.au/hunter/teachers.htm" title="Another one of the weekenders Coby taught at">workshops</a> around Australia and <a href="http://www.stuff.co.nz/nelson-mail/entertainment/3292506/Ceroc-stars-set-to-dance-off" title="A weekender Coby taught in New Zealand">NZ</a>.
									%li
										%span I have two Australian national gold medals singing barbershop/a'cappella with <a href="http://www.theblenders.com.au/" title="The Blenders - Champion Barbershop Chorus">The Blenders</a>. You can watch them <a href="http://www.youtube.com/watch?v=5d5bDCDtQpw" title="The Blenders' audition for Australia's Got Talent">blowing the judges away</a> recently on Australia's Got Talent.
									%li
										%span I have been a cast member in five theatre productions including: Grease, Footloose, Joseph and the Amazing Technicolour Dreamcoat, and Guys and Dolls.
						.subsection.c2
							.content
								%ul
									%li
										%span Until 2008 I had been competing and teaching both breakdancing and hip-hop for seven years. <a href="http://www.youtube.com/watch?v=JfA4VBbcbYk" title="Skill at Will promo video (breakdancing crew)">Our crew</a> placed 3<span class='super'>rd</span> nationally at Battle of the Year Australia in 2003.
									%li
										%span I have travelled extensively around Australia, New Zealand, Indonesia, Brazil, the USA, and recently the UK and Ireland.
									%li
										%span I have studied martial arts for a combined total of 8 years, including <a href="http://www.zambiacongo.com.au/" title="Grupo Zambiacongo Capoeira on the Gold Coast">Capoeira</a>, <a href="http://en.wikipedia.org/wiki/Shaolin_Kempo_Karate" title="About Shaolin Kempo">Shaolin Kempo</a>, and <a href="http://en.wikipedia.org/wiki/Aikido" title="About Aikido">Aikido</a>.
									%li
										%span I&rsquo;ve also been a photography geek since 2004.

			#bottom-cta
				.container
					.inner
						.section
							.content.cta
								Want to work together on your next project?
								%br/
								%strong Get in touch today!
						.section
							.subsection.c2
								.content
									%dl.email
										%dt Send me an email
										%dd
											%a{:href => "mailto:coby@cobychapple.com"} coby@cobychapple.com
							.subsection.c2
								.content
									%dl.phone
										%dt Give me a call
										%dd +61 414 271 802

				

			%p &nbsp;
		.section
			.container
				.content
					%p &copy; Copyright 2011 Coby Chapple.
					%p Licensed under the <a href=" http://www.apache.org/licenses/LICENSE-2.0" title="Apache License Version 2.0">Apache License, Version 2.0</a>.
		%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
		%script{:src => "js/libs/jquery-1.6.2.min.js"}
		:javascript
			window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')		/ scripts concatenated and minified via ant build script
		%script{:defer => "", :src => "js/plugins.js"}
		%script{:defer => "", :src => "js/script.js"}
		:javascript
			window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
			Modernizr.load({
				load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
			});
